<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DB接続エラー</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <style>
        body{
            background-color:#f0f1f4;
            margin:30px auto;
            width:70%;
            color:#384359;
        }

        .error__message{
            background-color:white;
            margin: 10% 20%;
            padding: 2% 5%;

        }

        .error__message h1{
            border-bottom: medium solid #11beae;
        }

    </style>
</head>
<body>
<div class="error__message">
    <div><h1>データベース接続エラー</h1></div>
    <div>
        <p>ただいまデーターベースに接続できないようです。</p>
        <p>数分後に再度リロードしてみてください。</p>
        <P></P>
        <p>ご不便おかけしますが、よろしくお願いいたします。</p>
    </div>

</div>
</body>
</html>