<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>編集画面</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header class="globalNav">
    <div class="globalNav__wrap">
        <div class="globalNav__inner-wrap">
            <div class="globalNav__title">
                <a th:href="@{/}">
                    <h1 class="page-title">社員情報管理サイト</h1>
                </a>
            </div>
            <nav class="globalNav__menu">
                <ul class="globalNav__menuList">
                    <li class="globalNav__menuItem">
                        <a class="globalNav__menuLink" th:href="@{/}">
                            <i class="fas fa-list-alt"></i>
                            <div>一覧画面</div>
                        </a>
                    </li>
                    <li class="globalNav__menuItem">
                        <a class="globalNav__menuLink" th:href="@{/emp/removed}">
                            <i class="fas fa-user-slash"></i>
                            <div>離籍者画面</div>
                        </a>
                    </li>
                    <li class="globalNav__menuItem">
                        <a class="globalNav__menuLink" th:href="@{/emp/create}">
                            <i class="fas fa-plus-circle"></i>
                            <div>登録画面</div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="globalNav__link" sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">ログアウト</a>
        </div>
        <div class="globalNav__link" sec:authorize="isAnonymous()">
            <a th:href="@{/emp/login}">ログイン</a>
        </div>
    </div>
</header>

<!--page-title-->
<script>
    const success = document.getElementsByClassName("content__input-wrapper--error");
    window.addEventListener('DOMContentLoaded', (event) => {
        window.performance.navigation.redirectCount
        if(window.performance.navigation.redirectCount === 1 && !success.item(0)){
            window.alert("登録に成功しました。")
        }
    });



</script>

<!--page-title-->
<div class="title-wrapper">
    <div>
        <div>
            <p class="sign">一覧画面＞編集画面</p>
        </div>
        <h1 class="c-pageTitle">編集画面</h1>
    </div>
    <div class="button__text">
        <a th:href="@{/emp/edit/{id}/history(id = *{id})}">変更履歴を確認</a>
    </div>
</div>

<!--content-->
<form class="content" th:object="${form}" action="#" th:action="@{/emp/edit/{id}(id = ${id})}"
      enctype="multipart/form-data" method=post>
    <div class="content__input-wrapper--error" th:if="${#fields.hasErrors('emp_id')}" th:errors="*{emp_id}"
         style="margin-top:30px">
        error code
    </div>
    <!--    content__number-->
    <div class="content__input-wrapper">
        <div class="content__input-wrapper--field">
            <label class="content__input--label">社員番号</label>
            <label class="content__input--label">[[${id}]]</label>
            <input type="hidden" th:type="hidden" name="emp_id" th:field="*{emp_id}"/>
        </div>
    </div>

    <!--    content__name-->
    <div class="content__input-wrapper">
        <div class="content__input-wrapper--field">
            <label class="content__input--label">名前</label>
            <div class="content__input-wrapper--input">
                <input type="text" th:type="text" name="name" th:field="*{name}" placeholder="空白なしで入力してください"/>
                <div class="content__input-wrapper--error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    error code
                </div>
            </div>
        </div>
    </div>


    <!--    content__kana-->
    <div class="content__input-wrapper">
        <div class="content__input-wrapper--field">
            <label class="content__input--label">フリガナ</label>
            <div class="content__input-wrapper--input">
                <input type="text" th:type="text" name="kana" th:field="*{kana}" placeholder="空白なしで入力してください"/>
                <div class="content__input-wrapper--error" th:if="${#fields.hasErrors('kana')}" th:errors="*{kana}">
                    error code
                </div>
            </div>
        </div>
    </div>

    <div class="content__input-wrapper">
        <div class="content__input-wrapper--field">
            <label class="content__input--label">入社年数</label>
            <label id="year" class="content__input--label">[[${year}]]年</label>
        </div>
    </div>

    <!--    content__hire_date-->
    <div class="content__input-wrapper">
        <div class="content__input-wrapper--field">
            <label class="content__input--label">入社年月日</label>
            <div class="content__input-wrapper--input">
                <input id="setDate" type="date" th:type="date" name="hire_date" th:field="*{hire_date}"/>
                <div class="content__input-wrapper--error" th:if="${#fields.hasErrors('hire_date')}"
                     th:errors="*{hire_date}">
                    error code
                </div>
            </div>
        </div>
    </div>
    <!--    動的に入社年数が変更される処理-->
    <script th:inline="javascript">
        function dateUntilblurred(e) {
            const dateSince = document.getElementById("setDate");
            const value = e.target.value;
            const dateList = value.split("-")
            const getDate = new Date(Number(dateList[0]),Number(dateList[1])-1,Number(dateList[2]))
            let result = Date.now() - getDate
            if (result >= 0) {
            document.getElementById("year").innerHTML = `<label class='content__input--label'>${Math.floor(result/(1000*60*60*24*365))}年</label>`;
            }
        }
        document.getElementById("setDate").addEventListener("blur", (e) => dateUntilblurred(e));





    </script>

    <!--    content__post-->
    <div class="content__input-wrapper">
        <div class="content__input-wrapper--field">
            <label class="content__input--label">役職</label>
            <div class="content__input-wrapper--input">
                <select id="selectPost" name="selectPost" th:field="*{post_id}">
                    <option th:value="${noSelect}" selected>役職を選択してください</option>
                    <option th:each="post: ${postList}" th:text="${post.post_name}" th:value="${post.post_id}">text
                    </option>
                </select>
                <div class="content__input-wrapper--error" th:if="${#fields.hasErrors('post_id')}"
                     th:errors="*{post_id}">error
                    code
                </div>
            </div>
        </div>
    </div>

    <!--    content__dept-->
    <div class="content__input-wrapper">
        <div class="content__input-wrapper--field">
            <label class="content__input--label">所属部署</label>
            <div class="content__input-wrapper--input">
                <select id="selectDept" name="selectDept" th:field="*{dept_id}">
                    <option th:value="${noSelect}" selected>部署を選択してください</option>
                    <option th:each="dept: ${deptList}" th:text="${dept.dept_name}" th:value="${dept.dept_id}">text
                    </option>
                </select>
                <div class="content__input-wrapper--error" th:if="${#fields.hasErrors('dept_id')}"
                     th:errors="*{dept_id}">error
                    code
                </div>
            </div>
        </div>
    </div>


    <!--    content__tel-->
    <div class="content__input-wrapper">
        <div class="content__input-wrapper--field">
            <label class="content__input--label">携帯番号</label>
            <div class="content__input-wrapper--input">
                <input type=text th:type=text name=tel th:field="*{tel}" placeholder="ハイフンなし半角数字で入力してください"/>
                <div class="content__input-wrapper--error" th:if="${#fields.hasErrors('tel')}"
                     th:errors="*{tel}">error
                    code
                </div>
            </div>
        </div>
    </div>

    <!--    content__email-->
    <div class="content__input-wrapper">
        <div class="content__input-wrapper--field">
            <label class="content__input--label">メールアドレス</label>
            <div class="content__input-wrapper--input">
                <input type=text th:type=text name=email th:field="*{email}" 　placeholder="メールアドレスを入力してください"/>
                <div class="content__input-wrapper--error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    error
                    code
                </div>
            </div>
        </div>
    </div>
    <div class="content__input-wrapper">
        <div class="content__input-wrapper--field">
            <label class="content__input--label">権限</label>
            <div class="content__input-wrapper--input">
                <select id="selectAuth" name="auth" th:field="*{auth}">
                    <option th:value="${noSelect}" selected>権限を選択してください</option>
                    <option th:value=0>管理者</option>
                    <option th:value=1>一般</option>
                </select>
                <div class="content__input-wrapper--error" th:if="${#fields.hasErrors('auth')}" th:errors="*{auth}">
                    error code
                </div>
            </div>
        </div>
    </div>

    <!--    submit-button-->
    <div class="submit-button">
        <div>
            <button class="submit-button__create" type="submit" name="action" value="update" onclick="return double()">更新</button>
        </div>                
        <div class="tooltip1">
            <button class="submit-button__cancel" type="submit" name="action" value="cancel">キャンセル</button>
            <div class="description1">一覧画面に戻る</div>
        </div>
    </div>
</form>
<script>
var set=0;
function double() {
if(set==0){ set=1; } else {
alert("只今処理中です。\nそのままお待ちください。");
return false; }}



</script>


<!--delete element-->
<a id="delete" class="delete-button">この社員情報を削除する</a>
<script>
    document.getElementById("delete").addEventListener("click", (e) => {
        let result = confirm("削除しますか？")
        console.log(result)
        if(result){
            window.location.href='[[${id}]]/delete'
        }
    });



</script>
</body>
</html>
