<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Login Page</h1>

    <form th:object="${loginForm}" th:action="@{/emp/login}" id=loginForm enctype="multipart/form-data" method=post>
        <input type="text" th:type="text" name="login_id" th:field="*{login_id}"/>
        <input type="text" th:type="text" name="password" th:field="*{password}"/>
        <input type="submit" value="send"/>
    </form>
</body>
</html>