<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellspacing="0" cellpadding="0">
    <tr>
        <th>社員番号</th>
        <th>名前</th>
        <th>役職</th>
        <th>所属部署</th>
        <th>入社年月日</th>
        <th>戻す</th>
    </tr>
    <tr th:each="data : ${removedData}">
        <td>[[${data.emp_id}]]</td>
        <td>[[${data.name}]]</td>
        <td>[[${data.post_name}]]</td>
        <td>[[${data.dept_name}]]</td>
        <td>[[${data.hire_date}]]</td>
        <td><a th:href="@{'/emp/removed/'+ ${data.emp_id}}">復帰</a></td>
    </tr>
</table>
<div>
    <button type="button">◀前へ</button>
</div>
<div>
    <button type="button">次へ▶</button>
</div>
<form method="get" th:action="|/admin.csv|">
    <input type="submit" name="download_file" value="removedList">
</form>
</body>
</html>
