<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellspacing="0" cellpadding="0">
    <label>社員一覧</label>
    <tr>
        <th>社員番号</th>
        <th>名前</th>
        <th>役職</th>
        <th>所属部署</th>
        <th>入社年月日</th>
    </tr>
    <tr th:each="user : ${searchForm}">
<!--        <td>[[${user.emp_id}]]</td>-->
<!--        <td>[[${user.name}]]</td>-->
<!--        <td>[[${user.post_name}]]</td>-->
<!--        <td>[[${user.dept_name}]]</td>-->
<!--        <td>[[${user.hire_date}]]</td>-->
        <td><span th:text="${searchForm.name}"></span></td>
        <td><span th:text="${searchForm.name}"></span></td>
        <td><span th:text="${searchForm.name}"></span></td>
        <td><span th:text="${searchForm.name}"></span></td>
        <td><span th:text="${searchForm.name}"></span></td>
    </tr>
</table>
<div>
    <button type="button">◀前へ</button>
</div>
<div>
    <button type="button">次へ▶</button>
</div>
<div>
    <button type="button">CSVファイルをダウンロード</button>
</div>
</body>
</html>
