@charset "UTF-8";

body{
            background-color:#f0f1f4;
            margin: 0px auto;
        }
        header{
                    background:white;
                    border-bottom:1px solid #d9dee6;
                    display:flex;
                    justify-content:center;
                }
                .globalNav__wrap{
                    width:90%;
                    display:flex;
                    justify-content:space-between;
                    align-items:center;
                }
                .globalNav__title a{
                    text-decoration:none;
                }
                .globalNav__inner-wrap{
                    display:flex;
                    align-items:center;
                }
                .globalNav__menuList{
                    display:flex;
                    list-style:none;
                    margin:0px auto;
                    padding:0px;
                }
                .globalNav__menuItem{
                    text-align:center;
                    width:150px;
                }
                .globalNav__menuLink{
                    color:#384359;
                    cursor:pointer;
                    display:block;
                    padding:15px 0;
                    text-decoration:none;
                }
                .globalNav__menuLink:hover{
                    color:#11beae;
                }
                .globalNav__menuLink i{
                    font-size:22px;
                    margin:0 0 8px;
                }
                .page-title{
                    color:#384359;
                    font-weight:700;
                    font-size: 30px;
                    margin: 0px;
                }
                .globalNav__link a{
                    text-decoration:none;
                    color:#11beae;
                }
        .content{
            background-color:white;
            display:flex;
            flex-direction:column;
            align-items:center;
            width:80%;
            margin:0 auto;
        }
        .content__input-wrapper{
            width:60%;
            padding:32px 0px;
            border-bottom:1px solid #f0f1f4;
        }
        .content__input-wrapper--field{
            display:flex;
            align-items:center;
        }
        .content__input--label{
            font-size:18px;
            color:#384359;
            font-weight:700;
            width:160px;
        }
        .content__input-wrapper--input{
            width:100%;
        }
        .content__input-wrapper--input input,select{
            background-color:#fcfcfd;
            border:1px solid #c2c8d2;
            box-sizing:border-box;
            height:40px;
            padding:0px 12px;
            border-radius:4px;
            width:100%;
        }
        .content__input-wrapper--error{
            font-size:13px;
            color:#f29091;
        }
        .submit-button{
            display:flex;
            flex-direction: row-reverse;
            justify-content:center;
            margin-top:16px;
            padding:32px;
        }
        .submit-button__cancel{
            margin:0 12px;
            border-radius:8px;
            font-size:16px;
            background-color:#c2c8d2;
            color:white;
            cursor:pointer;
            font-weight:700;
            border:none;
            width:320px;
            padding:8px;
        }
        .tooltip1{
            position: relative;
            cursor: pointer;
            display: inline-block;
        }
        .description1 {
            display: none;
            position: absolute;
            padding: 10px;
            font-size: 12px;
            line-height: 1.6em;
            color: #fff;
            border-radius: 5px;
            background: #000;
            width: 100px;
            text-align: center;
        }
        .description1:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            border: 15px solid transparent;
            border-top: 15px solid #000;
            margin-left: -15px;
        }
        .tooltip1:hover .description1{
            display: inline-block;
            top: -60px;
            left: 120px;
        }
        .submit-button__create{
            margin:0 12px;
            border-radius:8px;
            font-size:16px;
            background-color:#11beae;
            color:white;
            cursor:pointer;
            font-weight:700;
            border:none;
            width:320px;
            padding:8px;
        }
        .button-wrapper{
            display:flex;
            justify-content:space-between;
            width:60%;
            margin: 0 auto;
            align-items:flex-end;
        }
        .button-wrapper button{
              border-radius:8px;
              font-size:16px;
              background-color:#11beae;
              color:white;
              cursor:pointer;
              font-weight:700;
              border:none;
              width:200px;
              padding:8px;
              margin-bottom:15px;
        }
        .auth-button a{
             text-decoration:none;
             color:white;
        }
        .button__text{
            margin-bottom:10px;
        }
        .button__text a{
             margin:10px;
             margin:0 12px;
             border-radius:8px;
             font-size:16px;
             background-color:#11beae;
             color:white;
             cursor:pointer;
             font-weight:700;
             border:none;
             width:200px;
             padding:8px;
             display:flex;
             justify-content:center;
             text-decoration:none;
         }
         .sign{
            color:#384359;
            font-size:12px;
         }
         .c-pageTitle{
            color:#384359;
            font-size:20px;
         }
        .delete-button{
            display:flex;
            justify-content:center;
            margin:20px;
            color:#f29091;
            cursor:pointer;
        }

        .c-pageTitle{
                    font-size:28px;
                    margin:0px;
                }
                .sign{
                    margin:0px;
                    margin-top:70px;
                }

        .title-wrapper{
            width:80%;
            display:flex;
            margin:0 auto;
            align-items:flex-end;
            justify-content:space-between;
        }

        @media screen and (max-width: 479px) { /*ウィンドウ幅が479px以下の場合に適用*/
            body{
                margin:0 auto;
            }
            .content__input-wrapper--field{
                display:flex;
                flex-direction:column;
                align-items:flex-start;
            }
            .submit-button{
                padding:0px;
                align-items:center;
                flex-direction:column-reverse;
            }
            .submit-button button{
                margin-top:10px;
            }
            .content{
                padding-bottom:20px;
            }
        }

        @media screen and (max-width: 768px) { /*ウィンドウ幅が479px以下の場合に適用*/
                    body{
                        margin:0 auto;
                    }
                    .content__input-wrapper--field{
                        display:flex;
                        flex-direction:column;
                        align-items:flex-start;
                    }
                    .submit-button{
                        width:50%;
                    }
        }
